<div class="hero-unit">
 <div id="four04">I'm sorry, the page or resource you are searching for is currently unavailable.</div>
<% if (!locals.user) {%>
<br>
<br>
<p id="p1"> Test </p>
<% } %>
</div>

