
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img src="images/wilson.jpg" />
      <h3>Wilson Tien</h3>
      <p>System Software Manager</p>
      <a href="mailto:#"><i class="icon-envelope"></i>wilson_tien@tw.shuttle.com</a>
    </div> 
  </li> 
</ul>

<ul class="thumbnails">
   <li class="span4">
    <div class="thumbnail">
      <img src="images/113104735306.jpg" />
      <h3>Aaron Chou</h3>
      <p>Software Engineer</p>
      <a href="mailto:#"><i class="icon-envelope"></i>aaron_chou@tw.shuttle.com</a>
    </div>
   </li>
</ul> 

<!--<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="images/wilson.jpg" style="width: 360px; height: 250px;">
  </a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="media-body"> 
    <div class="well" style="width: 150px;">
      <h4 class="media-heading">Wilson Tien</h4>
      System Software Manager 
    </div>
  </div>
</div>
<br>
<br>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="images/113104735306.jpg" style="width: 360px; height: 250px;">
  </a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="media-body">
    <div class="well" style="width: 150px;">
      <h4 class="media-heading">Aaron Chou</h4>
        Software Engineer
    </div> 
  </div>
</div> -->

 <br>
 <br>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7227.855072734255!2d121.57635709284376!3d25.070445077009545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ac7ddbab004d%3A0xeade21656daf7c9a!2zMTE05Y-w5YyX5biC5YWn5rmW5Y2A55Ge5YWJ6LevNzblt7czMOiZnw!5e0!3m2!1szh-TW!2stw!4v1386469338183" width="600" height="450" frameborder="0" style="border:0"></iframe>

 <br>
 <br>
 <br>
