<div id="footer">
     <p>
     <% if(!locals.user) { %>
     <div class="container" style="background-color:#f5f5f5">
       <div class="span4" style="margin-left: 0px;">
       <address>
        <strong>&copy; Shuttle Inc.</strong><br>
          No.30, Lane 76, Rei Kuang Rd. Nei-Hu Dist., Taipei, Taiwan<br>
          <abbr title="Phone">TEL: 886-2-87926168<br>
          <abbr title="Phone">FAX: 886-2-8792-6268<br>
       </address>
       </div>
       <div class="span4" style="width: 370px;">
         <address>
           <strong>Contact us.</strong><br>
           <a href="mailto:#"><i class="icon-envelope"></i>wilson_tien@tw.shuttle.com</a>
         </address>
       </div>
      <% } %>
       <div class="span4" style="width: 200px;">
       <address>
         <p><a href="http://www.shuttle.com/" target="_blank">Shuttle</a> 2013</p>
         </p>
       </address>
       </div>

      <div class="span4" style="width: 50px;">
        <a><img src="http://www.w3.org/html/logo/badge/html5-badge-v-solo.png" width="38" height="61" alt="html5 powered" title="html5 powered"></a>
        </div>
     </div> <!-- footer -->
    </div>
  </body>
</html>

