<form class="form-horizontal" method="post">
  <fieldset>
    <legend> Login in by <a href="http://54.238.203.212/auth/facebook" class="omniAuth-service"><img src="https://d1tijy5l7mg5kk.cloudfront.net/assets/icn-service-facebook-ede85630cef676ab494140a8475978a0.png"></a><a href="https://github.com/" class="omniAuth-service"><img src="https://d1tijy5l7mg5kk.cloudfront.net/assets/icn-service-github-ebcb1dde05bc7ad3808199dfb4e300fb.png"></a><a href="https://plus.google.com/" class="omniAuth-service"><img src="https://d1tijy5l7mg5kk.cloudfront.net/assets/icn-service-google-8b3a4150e3d9025ea1e50489a56c0967.png"></a></legend>
    <div class="control-group">                          
      <label class="control-label" for="username">User name / email </label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="username" name="username"> 
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
      </div>
    </div>
    <div class="control-group">
    	<label class="checkbox">
	<div class="controls">
        	<input type="checkbox" class="input-xlarge" id="rememberme" name="rememberme">Remember me</label>
	</div>
    </div>
    <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-th icon-white"></i>Login</button>
    <a href="/forget" class="btn">Forget your password</a>&nbsp; 
    <a href="/reg" class="btn">Not Member? Join US!</a>&nbsp;
    </div> 
  </fieldset>
<!--  Login in by <a href="http://www.google.com" class="omniAuth-service"><img src="https://d1tijy5l7mg5kk.cloudfront.net/assets/icn-service-facebook-ede85630cef676ab494140a8475978a0.png"></a><a href="http://tw.yahoo.com" class="omniAuth-service"><img src="https://d1tijy5l7mg5kk.cloudfront.net/assets/icn-service-github-ebcb1dde05bc7ad3808199dfb4e300fb.png"></a><a><img src="https://d1tijy5l7mg5kk.cloudfront.net/assets/icn-service-google-8b3a4150e3d9025ea1e50489a56c0967.png></a> --> 
