
<form method="post" enctype="multipart/form-data" action="/file-upload">
  <!--  <input type="text" name="username"> -->
  <!--  <input type="password" name="password"> -->
  <div class="row fileupload-buttonbar">
    <div class="span7">
      <span class="btn btn-success fileinput-button">
      <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <input type="file" name="thumbnail"> 
      </span>
  <!-- <span class="btn btn-success start fileinput-button"> -->
     <button type="submit" class="btn btn-primary start">
       <i class="icon-plus icon-white"></i>
       <span>Start upload </span>
    <!-- <input type="submit"><i class="icon-comment icon-white"></i>
       </span><br> -->
     </button>
     <button type="reset" class="btn btn-warning cancel">
        <i class="icon-ban-circle icon-white"></i>
	<span>Cancel upload </span>
     </button>
    </div>
</form>


