<form class="form-horizontal" method="post">
  <fieldset>
    <legend>User Registration</legend>
    <div class="control-group">
      <label class="control-label" for="username">User name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="username" name="username" placeholder="Type your name...">             
        <p class="help-block">Your user name is used for login & display.</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">User email </label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="useremail" name="useremail" placeholder="Type your email address...">
        <p class="help-block">Your email address is used for login & display.</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password" placeholder="Type your password...">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password-repeat">Repeat input password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password-repeat" name="password-repeat" placeholder="Type your password again...">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-info"><i class="icon-edit icon-white"></i>Sign up</button>
    </div>
  </fieldset>
</form>
